version: "3.8"
services: 
  flask-app:
    container_name: flask-app
    image: trio-task-app
    build: ./flask-app
  mysql:
    container_name: mysql
    image: trio-task-db
    build: ./db
    enviroment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: flask-db
    volumes:
    - type: volume
      source: trio-task-db
      target: /var/lib/mysql
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
    - target: 80
      published: 80
      protocol: tcp
    volumes:
    - type: bind
      source: ./nginx/nginx.conf
      target: /etc/nginx/nginx.conf
volumes:
  trio-task-db:

 